

<header class="tc-header">
    <button class="tc-icon-btn" (click)="cancel()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="tc-header-title">
        {{tricountId=== 0 ? 'Add Tricount' : 'Edit Tricount'}}
    </span>
    <span class="tc-header-spacer"></span>

    <button class="header-btn" (click)="saveTricount()" [disabled]="frm.invalid">
        <mat-icon>save</mat-icon>
    </button>
</header>

<div class="savetricount-container">
    <form [formGroup]="frm" (ngSubmit)="saveTricount()" class="SaveTricount-form" novalidate>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Title(*)</mat-label>
            <input matInput type="text" [formControl]="ctlTitle" [errorStateMatcher]="matcher" required appSetFocus>
            @if (ctlTitle.invalid && (ctlTitle.dirty || ctlTitle.touched)) {
            <mat-error>
                @if (ctlTitle.hasError('required')) { Title is required }
                @else if (ctlTitle.hasError('minlength')) { Minimum 3 characters }
                @else if (ctlTitle.hasError('titleUsed')) { This title already exists }
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <input matInput type="text" [formControl]="ctlDescription" [errorStateMatcher]="matcher">
            @if (ctlDescription.invalid && (ctlDescription.dirty || ctlDescription.touched)) {
            <mat-error>
                @if (ctlDescription.hasError('minlength')) { Minimum 3 characters }
            </mat-error>
            }
        </mat-form-field>

        <div class="participants-section">
            <h3>Participants</h3>

            <div class="participant-list">
                @for (participant of selectedParticipants; track participant.id) {
                <div class="participant-item">

                    <div class="participant-info">
                        @if (participant.id === creatorId) {
                        <mat-icon class="user-icon creator-icon">person_pin_circle</mat-icon>
                        }
                        @else {
                        <mat-icon class="user-icon">perm_identity</mat-icon>
                        }

                        <span class="user-name">{{ participant.full_name }}</span>
                    </div>

                    <button class="remove-participant-btn" [disabled]="!canRemoveParticipant(participant.id!)"
                        (click)="removeParticipant(participant.id!)" type="button">
                        <mat-icon>person_remove</mat-icon>
                    </button>
                </div>
                }
            </div>

            <div class="add-participant-container">
        
        <mat-form-field appearance="outline" class="field-no-bottom-margin">
            <mat-label>Add participant</mat-label>
            <mat-select [(ngModel)]="selectedUserToAdd" [ngModelOptions]="{standalone: true}">
                @for (user of availableUsers; track user.id) {
                    <mat-option [value]="user.id">
                        {{ user.full_name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <button mat-icon-button color="primary" 
                (click)="addSelectedParticipant()" 
                [disabled]="!selectedUserToAdd"
                class="add-btn-outside">
            <mat-icon>person_add</mat-icon>
        </button>

    </div>
        </div>

    </form>
</div>