.tricount-header {
    display: flex;
    align-items: center;
    background-color: #5c6bc0;
    color: white;
    padding: 12px 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.header-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.header-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.header-btn mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.header-title {
    flex: 1;
    margin: 0 16px;
    font-size: 20px;
    font-weight: 500;
}

.operations-container {
  padding: 12px;
  background: #f4f6f8;       
  min-height: 100vh;
}

.operation-card {
  background: white;
  border-radius: 14px;
  padding: 14px 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.operation-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.operation-title {
  font-size: 17px;
  font-weight: 600;
  color: #333;
}

.operation-subtitle {
  font-size: 13px;
  color: #777;
}


/* ---------------------- */
/* RIGHT SIDE OF CARD     */
/* ---------------------- */

.operation-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.operation-amount {
  font-size: 17px;
  font-weight: 600;
  color: #111;
}

.operation-date {
  font-size: 13px;
  color: #777;
}
.empty-state {
  margin-top: 25px;
  text-align: center;
  color: #777;
  font-size: 14px;
  font-style: italic;
}