.nav-bar {
    background-color: #6200ea;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-bar-title {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 500;
}

.nav-bar-spacer {
    flex: 1;
}

.nav-bar button,
::ng-deep .nav-bar button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar button:hover,
::ng-deep .nav-bar button:hover {
    background-color: #7c4dff;
    border-radius: 50%;
}

.nav-bar button:disabled,
::ng-deep .nav-bar button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.nav-bar button:disabled:hover,
::ng-deep .nav-bar button:disabled:hover {
    background-color: transparent;
}
