.nav-bar {
    background-color: #6200ea;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
:host-context(body.dark-theme) .nav-bar{
    background-color: rgb(21, 21, 21);
}

.nav-bar-title {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 500;
}

.nav-bar-spacer {
    flex: 1;
}

.nav-bar button {
    color: white;
}