<header class="tc-header">
  <!--Icone menu a gauche-->
  <button class="tc-icon-btn" (click)="toggleSidePanel()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="tc-header-title">Your Tricounts</span>
  <span class="tc-header-spacer"></span>

  <!--Icone refresh-->
  <button class="tc-icon-btn" (click)="loadTricounts(true)">
    <mat-icon>Refresh/<mat-icon>
  </button>
  <!--icon add-->
  <button class="tc-icon-btn" (click)="onAddTricount()">
    <mat-icon>Add/<mat-icon>
  </button>
</header>

<!--Menu glissant a gauche-->
<div class="tc-sidepanel" [class.open]="isSidePanelOpen">
  <div class="tc-sidepanel-header">
    <div class="tc-user-info">
      <strong>{{ currentUser?.full_name }}</strong>
      <small>{{ currentUser?.email }}</small>
    </div>
    <button class="tc-icon-btn" (click)="closeSidePanel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ul class="tc-sidepanel-list">
    <li>
      <button class="tc-link-btn" (click)="home()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </li>
    <li>
      <button class="tc-link-btn" (click)="openResetPopup()">
        <mat-icon>restore</mat-icon>
        <span>Reset DataBase</span>
      </button>
    </li>
    <li>
      <button class="tc-link-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </li>
  </ul>
</div>

<div class="tc-overlay" *ngIf="isSidePanelOpen" (click)="closeSidePanel()"></div>

<!--LEs tricounts-->
<div class="tc-content">
  <div class="tricounts-container">
    @for (t of tricounts; track t.id) {
    <mat-card class="tricount-card" (click)="viewTricount(t.id)" style="cursor: pointer;">
      <div class="tricount-row">
        <div class="tricount-left">
          <div class="tricount-title">
            {{t.title}}
          </div>
          <div class="tricount-subtitle">
            {{t.description || 'No description'}}
          </div>
          <div class="tricount-meta">
            By Boris
          </div>
        </div>

        <div class="tricount-right">
          you're alone
        </div>
      </div>
    </mat-card>
    }

    @empty {
    <div class="empty">
      <mat-icon>info</mat-icon>
      Aucun tricount trouvé.
    </div>
    }
  </div>
</div>