<mat-sidenav-container class="sidenav-container">
    
    <!-- menu latéral -->
    <mat-sidenav #drawer mode="over" position="start" class="sidenav">
        <div class="sidenav-header">
            <div class="user-info">
                <strong>{{ currentUser?.full_name }}</strong>
                <small>{{ currentUser?.email }}</small>
            </div>
            <button mat-icon-button (click)="drawer.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-nav-list>
            <a mat-list-item (click)="navigateTo('/tricounts')">
                <mat-icon matListItemIcon>home</mat-icon>
                <span matListItemTitle>Home</span>
            </a>
            <a mat-list-item (click)="openResetPopup()">
                <mat-icon matListItemIcon>restore</mat-icon>
                <span matListItemTitle>Reset Database</span>
            </a>
            <a mat-list-item (click)="toggleTheme()">
                <mat-icon matListItemIcon>{{ themeService.isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
                <span matListItemTitle>{{ themeService.isDark ? 'Light Mode' : 'Dark Mode' }}</span>
            </a>
            <a mat-list-item (click)="logout()">
                <mat-icon matListItemIcon>logout</mat-icon>
                <span matListItemTitle>Logout</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <!-- contenu principal -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>